registry=http://localhost:4873/
//localhost:4873/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0ZXN0Il0sIm5hbWUiOiJ0ZXN0IiwiZ3JvdXBzIjpbInRlc3QiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJ0ZXN0Il0sImlhdCI6MTU2NzI4MzMyMywibmJmIjoxNTY3MjgzMzI0LCJleHAiOjE1NzI0NjczMjN9.CdkihPEQcFrmBvTDKq-IAhfXzSVEEj7F0C7DXwS7wpY